# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.gitignore.io/api/soliditytruffle
# Edit at https://www.gitignore.io/?templates=soliditytruffle

### SolidityTruffle ###
# depedencies
node_modules

# testing
coverage

# production
build
build_webpack

# misc
.DS_Store
.env
npm-debug.log
.truffle-solidity-loader
.vagrant/**
blockchain/geth/**
blockchain/keystore/**
blockchain/history

#truffle
.tern-port
yarn.lock
package-lock.json

# End of https://www.gitignore.io/api/soliditytruffle

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

.secret
docs
