<div class="grid-container">

  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
    
        <mat-card-title class="text-center">
          {{card.title}}
        </mat-card-title>
   

        <mat-card-content class="text-center">
          <div>Please choose if you are Buyer or Seller</div>
        </mat-card-content>

      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>

</div>
