
<div class="context-container">
  <div fxLayout="row" fxLayoutAlign="center start">
    <mat-card fxFlex="60">
      <mat-card-title class="text-center"
        >Seller Booth Merchandiser</mat-card-title
      >
      <mat-card-subtitle>
        Create New Merchandise Contract
      </mat-card-subtitle>

      <mat-card-content>

        <div fxLayout="row" fxLayoutGap="6px">
          <span class="red-color">*</span>
          <div class="mat-caption text-muted">required fields</div>
        </div>

        <form [formGroup]="frmGroup" novalidate>
            <div fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field [color]="'accent'" fxFlex>
                    <input matInput placeholder="Title *" formControlName="title">
                    <mat-error *ngIf="required('title')">Value is required</mat-error>
                </mat-form-field>

            </div>
            <div fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field [color]="'accent'" fxFlex>
                    <input matInput placeholder="Price *" formControlName="price">
                    <mat-error *ngIf="required('price')">Value is required</mat-error>
                </mat-form-field>

            </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

